.modal{
  border: 1px solid black;
  height: 300px;
  width: 500px;
  position: absolute;
  left: 35%;
  top: 10%;
  border-radius: 8px;
}

.modal-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 999;
  background-color: #444;
  opacity: 0.6;
}