.to-do_list_container {
  height: 100%;
  width: 100%;
  padding: 10px 25px;
  display: flex;
}

.feature-list{
  border: 3px solid #fff;
  border-radius: 8px;
  width: 100%;
  scrollbar-color: #000;
  box-sizing: content-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  /* Keep and eye on the following line */
  scrollbar-width: none;
  textarea{
    background-color: #000;
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 8px;
    max-width: 35%;
    outline: none;
    resize: none;
    cursor: pointer;
  }
  input{
    cursor: pointer;
  }
}

hr.solid {
  border-top: 4px solid #fff;
  border-radius: 8px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
  border-radius: 8px;
  background-color: #121629;
  padding: 15px;
  div {
    line-height: 30px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
  }
  :first-child{
    display: block;
  }
}

.add-new-element {
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
  padding-left: 8px;
  border-radius: 8px;
}
.add-new-element:hover{
  background-color: #fff;
  color: #000;
}