.to-do_list_container {
  height: 100%;
  width: 100%;
  padding: 10px 25px;
  display: flex;
}

.feature-list{
  border: 3px solid #fff;
  border-radius: 8px;
  width: 100%;
  scrollbar-color: #000;
  box-sizing: content-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  /* Keep and eye on the following line */
  scrollbar-width: none;
  textarea{
    background-color: #000;
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 8px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
    max-width: 35%;
    outline: none;
    resize: none;
    cursor: pointer;
  }
  input[type='checkbox']{
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  input[type='date']{
    padding: 5px 10px;
  }
}

hr.solid {
  border-top: 4px solid #fff;
  border-radius: 8px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  row-gap: 10px;
  border-radius: 8px;
  background-color: #121629;
  padding: 15px;
  div {
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    column-gap: 10px;
    font-weight: 600;
  }
  :first-child{
    display: block;
  }
  :last-child{
    display: block;
  }
  .container_header{
    display: flex;
    column-gap: 10px;
  }
  textarea{
    cursor: initial;
    height: 30px;
    min-width: 450px;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-self: initial;
    box-sizing: border-box;
    border: 2px solid;
    border: 2px solid #fff;
    border-radius: 8px;
  }
  select {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: 800;
    background-color: #000;
    color: #ccc;
  }
}

.add-new-element {
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
  padding-left: 8px;
  border-radius: 8px;
}
.add-new-element:hover{
  background-color: #fff;
  color: #000;
}

.due-date {
  color: #fff;
  background-color: #000;
  border: 2px solid;
  border-radius: 8px;
  padding: 2px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
input::-webkit-calendar-picker-indicator{
  filter: invert(1);
  cursor: pointer;
}

.delete {
  position: absolute;
  top: 5px;
  right: 18px;
  font-weight: 600;
  cursor: pointer;
}
.delete-item-element{
  cursor: pointer;
}